In [32]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory
import matplotlib.pyplot as plt
import seaborn as sns
import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['bank-full.csv']

In [33]:
df = pd.read_csv('../input/bank-full.csv',delimiter=';')

In [34]:
df.head()

   age           job  marital  education ... pdays  previous poutcome   y
0   58    management  married   tertiary ...    -1         0  unknown  no
1   44    technician   single  secondary ...    -1         0  unknown  no
2   33  entrepreneur  married  secondary ...    -1         0  unknown  no
3   47   blue-collar  married    unknown ...    -1         0  unknown  no
4   33       unknown   single    unknown ...    -1         0  unknown  no

[5 rows x 17 columns]

In [35]:
df.shape

(45211, 17)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
age          45211 non-null int64
job          45211 non-null object
marital      45211 non-null object
education    45211 non-null object
default      45211 non-null object
balance      45211 non-null int64
housing      45211 non-null object
loan         45211 non-null object
contact      45211 non-null object
day          45211 non-null int64
month        45211 non-null object
duration     45211 non-null int64
campaign     45211 non-null int64
pdays        45211 non-null int64
previous     45211 non-null int64
poutcome     45211 non-null object
y            45211 non-null object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [37]:
df.describe()

                age        balance      ...              pdays      previous
count  45211.000000   45211.000000      ...       45211.000000  45211.000000
mean      40.936210    1362.272058      ...          40.197828      0.580323
std       10.618762    3044.765829      ...         100.128746      2.303441
min       18.000000   -8019.000000      ...          -1.000000      0.000000
25%       33.000000      72.000000      ...          -1.000000      0.000000
50%       39.000000     448.000000      ...          -1.000000      0.000000
75%       48.000000    1428.000000      ...          -1.000000      0.000000
max       95.000000  102127.000000      ...         871.000000    275.000000

[8 rows x 7 columns]

In [ ]:
flatui = ["#9b59b6", "#34495e", "#2ecc71"]
sns.set_palette(flatui)
hmap = df.corr()
plt.subplots(figsize=(8, 8))
sns.heatmap(hmap, vmax=1,annot=True,cmap='YlOrRd', square=True);